aiomysql
aiohttp
aiosqlite
fastapi
loguru
pydantic
pydantic[email]
pydantic_settings
PyYAML
sse_starlette
starlette
tiktoken
openai
typing_extensions
uvicorn
numpy
opencv-python
psutil
aiofiles
loguru
sqlalchemy
redis
taskiq
taskiq-redis
python-jose
passlib
bcrypt
tenacity
python-multipart
tzdata
uuid7